/* **** */
.selected{
    border: 1px solid #888;
    background-color: #e8e8e8;
    color: black;
    font-weight: bold;
}

/* index */
.indexleft{
    padding-left: 250px;
    padding-top: 200px;
    background-image: url(images/labback70.jpg);
    background-position: center;
    height: 100%;
    color: whitesmoke;
}

.indexleftcenter{
/*    background-color: #252525;*/
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    opacity: 70%;
}

.indexright{
    padding: 250px;
    background-color: #131419;
    height: 100%;
    color: darkgray;
}

/* dashboard etc */
.sidemenu{
    background-color: #131419;
    height: 100%;
}

.dash{
    background-image: url(images/dashback.jpg);
    background-position: center;
    height: 100%;
}

.panelbodydash{
    overflow: auto;
    height: 620px;
    background-color: #111317;
    border-color: #555555;
    color: white;
}

.panelbodyequip{
    overflow: auto;
    height: 550px;
    background-color: #111317;
    border-color: #555555;
    color: white;
}

.equip{
    padding: 20px;
}

tr{
    /*color: #e6e6e6;*/
    font-size: 13px;
}

th{
    /*color: ghostwhite;*/
}

/*select{
    border-radius: 3px;
}

input{
    border-radius: 3px;
}*/

.dashrow{
    padding: 20px;
}

a{
    color: #c9c9c9;
}

.sidemenuul a:hover{
    background-color: #353535;
    color: #757575;
}

.transbtn{
    background-color: transparent;
    border-color: transparent;
}

.transbtn:hover{
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

#searchbar{
    background-color: #4c4c4c;
    color: whitesmoke;
}

.modal-body{
    padding-left: 30px;
    padding-right: 30px;
}

.boldify{
    font-weight: bold;
}

.tabletext{
    color: whitesmoke;
}